{{> organisms-desktop-header }}

{{!-- should this be doing something specific? --}}
<main>

  {{!-- id is not used for styling --}}
  <section id="intro">
    <div class="two-fold">
      <div>
        {{!-- do I really want to drop the font-family down? --}}
        <h5 class="sofia">{{ title }}</h5>
        {{!-- theres a gap here I need to close up --}}
        <p class="justified-40 home-baselined">{{ description }}</p>
        <h5><a href="#" class="buttoned-above-40">{{ page.title }}</a></h5>
        {{!-- now this is on the same side it's kinda weird its bigger than the title --}}
        {{!-- making the title bigger would be weird --}}
        {{!-- this should be better data --}}
        {{> atoms-team-head }}
      </div>
    <div><img src="{{ placeholder }}" /></div>
  </section>

  <hr>

  {{!-- id is not used for styling --}}
  <section id="offerings">
    {{!-- already a title I dont think it needs to be bold or adjust all the titles --}}
    <h2 class="single-fold forty-h3"><strong>{{ page.title }}</strong></h2>

    <div class="two-fold ">
      {{!-- // I need to do something with it dropping onto a second line being more obvious --}}
      {{# cards }}
        <ul class="catalog ">
          <li>{{ title }}</li>{{!-- not the best bars --}}
        </ul>
      {{/ cards }}
      {{!-- do I need both for the handlebars version? --}}
    </div>
  </section>{{!-- #offerings --}}

  <hr>

  {{!-- id is not used for styling --}}
  {{!-- when display mosaic becomes available this will be super useful --}}
  <section id="gallery" class="single-fold image-stack">
    <img src="{{ placeholder }}" />
    <img src="{{ placeholder }}" />
    <img src="{{ placeholder }}" />
    <img src="{{ placeholder }}" />
  </section>

  <hr>

  {{!-- id is not used for styling --}}
  <section id="differences">
    <div class="single-fold">
        {{!-- symantically speaking we got an issue here --}}
        <h2 class="forty-h3"><strong>{{ title }}</strong></h2>
        <h4>{{ description }}</h4>
    </div>

    <div class="two-fold">
      {{# cards }}
        <ul class="inventory ">
          <li>{{ title }}</li>{{!-- not the best bars --}}
        </ul>
      {{/ cards }}
    </div>
  </section>{{!-- #differences --}}

  <hr>

  {{!-- id is not used for styling --}}
  <section id="questions">
    <div class="two-fold">
      <h3><a href="/questions">{{ title }}</a></h3>
      <div class="slender-image">
        <img src="{{ placeholder }}" />
      </div>
    </div>
  </section>{{!-- #questions --}}

  <hr>

  {{!-- id is not used for styling --}}
  <section id="intake-forms">
    <div class="single-fold">
      <h2>{{ title }}</h2>
    </div>

    <div class="two-fold">
      <div>{{!-- two fold wrapper --}}
        <h5 class="vigilant h-line">{{ page.title }}</h5>
        {{# cards }}
          <ul>
            <li>
              <h5><a href="#">{{ title }}</a></h5>
              <p>{{ description }}</p>
            </li>
          </ul>
        {{/ cards }}
      </div>

      <div>{{!-- two fold wrapper --}}
        <h5 class="vigilant h-line">{{ page.title }}</h5>
        {{# cards }}
          <ul>
            <li>
              <h5><a href="#">{{ title }}</a></h5>
              <p>{{ description }}</p>
            </li>
          </ul>
        {{/ cards }}
    </div>{{!-- .two-fold --}}
  </section>{{! #intake-forms --}}

  <hr>

</main>

{{> organisms-footer }} 