Perfers Color Scheme Light
{{!-- too big but thats later --}}
<ul class="sg-colors">
    {{# items }}
        <li style="background: #F8F8F8">
            <span class="sg-swatch" style="background: {{ value }}; clip-path: polygon(0 0, 100% 0, 0 100%);"></span>
            <span class="sg-label" style="color: #0F0F0F;">
                {{ name }}
                <br />Hex {{ value }}
                <br />Contrast {{ contrast-light }}
                <br />Normal Text AA {{ light-normal-AA }}
                <br />Normal Text AAA {{ light-normal-AAA }}
                <br />Large Text AA {{ light-large-AA }}
                <br />Large Text AAA {{ light-large-AAA }}
                <br />UI {{ light-UI }}
            </span>
        </li>
    {{/ items }}
</ul>
<small>{{{ meta.description }}}</small>

Perfers Color Scheme Dark
<ul class="sg-colors sg-colors__prefers-dark" style="border-radius: 8px;">
    {{# items }}
        <li style="background: #0F0F0F">
            <span class="sg-swatch" style="background: {{ value }}; clip-path: polygon(0 0, 100% 0, 0 100%);"></span>
            {{!-- clip-path: polygon(0 0, 100% 0, 0 100%); --}}
            <span class="sg-label" style="color: #fefefe;">
                {{!-- style="color: #fefefe;" --}}
                {{ name }}
                <br />Hex {{ value }}
                <br />Contrast {{ contrast-dark }}
                <br />Normal Text AA {{ dark-normal-AA }}
                <br />Normal Text AAA {{ dark-normal-AAA }}
                <br />Large Text AA {{ dark-large-AA }}
                <br />Large Text AAA {{ dark-large-AAA }}
                <br />UI {{ dark-UI }}
            </span>
        </li>
    {{/ items }}
</ul>
<small>{{{ meta.description }}}</small>
{{!-- 
Emerald background
<ul class="sg-colors" style="border-radius: 8px;">
    {{# items }}
        <li style="background: #499E8F">
            <span class="sg-swatch" style="background: {{ value }}; clip-path: polygon(0 0, 100% 0, 0 100%);"></span>
            {{!-- clip-path: polygon(0 0, 100% 0, 0 100%); --}}
            <span class="sg-label" style="color: #fefefe;">
                {{!-- style="color: #fefefe;" --}}
                {{ name }}
                <br />Hex {{ value }}
                <br />Contrast {{ contrast-emerald }}
                <br />Normal Text AA {{ emerald-normal-AA }}
                <br />Normal Text AAA {{ emerald-normal-AAA }}
                <br />Large Text AA {{ emerald-large-AA }}
                <br />Large Text AAA {{ emerald-large-AAA }}
                <br />UI {{ emerald-UI }}
            </span>
        </li>
    {{/ items }}
</ul>

Moldavite background
<ul class="sg-colors" style="border-radius: 8px;">
    {{# items }}
        <li style="background: #3D7E69;">
            <span class="sg-swatch" style="background: {{ value }}; clip-path: polygon(0 0, 100% 0, 0 100%);"></span>
            {{!-- clip-path: polygon(0 0, 100% 0, 0 100%); --}}
            <span class="sg-label" style="color: #fefefe;">
                {{!-- style="color: #fefefe;" --}}
                {{ name }}
                <br />Hex {{ value }}
                <br />Contrast {{ contrast-secondary }}
                <br />Normal Text AA {{ secondary-normal-AA }}
                <br />Normal Text AAA {{ secondary-normal-AAA }}
                <br />Large Text AA {{ secondary-large-AA }}
                <br />Large Text AAA {{ secondary-large-AAA }}
                <br />UI {{ secondary-UI }}
            </span>
        </li>
    {{/ items }}
</ul> --}}

{{!-- 
This would be 100x nicer if it was styled or automatic but this is base level

WCAG 2.0 level AA
requires a contrast ratio of at least
4.5:1 for normal text
3:1 for large text.

WCAG 2.1 requires a contrast ratio of at least
3:1 for graphics and user interface components (such as form input borders).

WCAG Level AAA requires a contrast ratio of at least
7:1 for normal text
4.5:1 for large text. 
--}}